body{
  font-family: Helvetica;
}
h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
  text-align: center;

}
h2{
  font-size 18px;
  color: white;
  text-align: center;
}
.heading{
  background-color: black;
}
.process{
  font-size:32px;
  font-weight: bold;
  color: black;
}
.identify{
  text-align: center;
}
.icon{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h3{
  font-size: 23px;
  text-align: center;
  font-weight: bold;
}
p{
  font-size: 14px;
  text-align: center;
}
.banner{
  color:white;
  background-color: black;
}
.copy{
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
